---
import "@styles/global.css"
import { Button } from "./ui/button"
import { css } from "styled-system/css"
---

<div>
    <Button variant="ghost" size="lg">asdasdasd</Button>
    <h1 class={css({
        color: "red"
    })}>asdasdasd</h1>
</div>